<div class="jumbotron">
    <div class="container">
        Bienvenido a MUVIA, un mundo virtual para niños, inclusivo y accesible!
    </div>
</div>


<div class="container">

    <div class="row">

        <div class="col-md-4">
            <h2>Mundo Virtual</h2>

            <p>
                Un ambiente digital al que los usuarios se conectan a través de internet, para interactuar entre sí y
                con los objetos y personajes que existen allí.
            </p>
        </div>

        <div class="col-md-4">
            <h2>Accesible</h2>

            <p>
                MUVIA está pensado para que se pueda usar por personas con diferentes tipos de discapacidad: visual,
                motriz y cognitiva, entre otras. Y también por personas sin discapacidad! El reto es lograr que todos
                puedan interactuar en igualdad de condiciones.
            </p>
        </div>

        <div class="col-md-4">
            <h2>Inclusivo</h2>

            <p>
                De nada sirve tener una solución accesible si tiene costo para los usuarios, y si la comunidad
                (investigadores, estudiantes, personas con discapacidad) no tienen la libertad de estudiar, modificar y
                adaptar la solución de la manera que crean más conveniente. MUVIA es software libre, lo cuál quiere
                decir que garantiza a todos en la sociedad el derecho a usar, estudiar, modificar y distribuir su
                código. te gustaría ayudar en el proyecto?
            </p>
        </div>

    </div>
</div>