/* https://carmenwiki.osu.edu/display/10292/HTML5+Accessibility+Code+Examples
 Tried and true technique for visually hidden but screen reader accessible text */
.visually-hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
}


#narration{
  margin: 4px;
  border: 3px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
}
