<!--handling login-->
<h2 id="login-page" data-i18n="_login_"></h2>

<p data-i18n="_login_msg_"></p>

<div class="container">
    <div class="row" ng-hide="auth.success">
        <form role="form" aria-labelledby="login-page" ng-controller="authController as auth"
              ng-submit="auth.doLogin()">

            <fieldset>
                <div>
                <label for="login" data-i18n="_username_"></label>
                <input id="login" name="login" placeholder="{{'_username_' | i18n}}" ng-model="auth.usr" aria-describedby="username-tip" aria-required="true" required>
                <div role="tooltip" id="username-tip">The username</div>
                </div>

                <div>
                <label for="password" data-i18n="_password_"></label>
                <input id="password" name="password" placeholder="{{'_password_' | i18n}}" type="password"
                       ng-model="auth.psw" aria-describedby="password-tip" aria-required="true" required>
                    <div role="tooltip" id="password-tip">The username</div>
                </div>
            </fieldset>

            <p>
                <button type="submit" data-i18n="_login_"></button>
            </p>

            <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>


            <alert role="alert"  aria-live="assertive" type="danger" ng-show="auth.error" data-i18n="{{auth.error}}"></alert>

            <alert role="alert"  aria-live="assertive" type="success" ng-show="auth.success" data-i18n="_login_sucessful_"></alert>

        </form>
    </div>

</div>