<h2  id="profile-page" data-i18n="_profile_"></h2>

<p data-i18n="_profile_msg_"></p>

<form id='profileform' role="form" class="form-horizontal">


<h3 data-i18n="_sounds_"></h3>

    <mu-checkbox id="sound_background"></mu-checkbox>
    <mu-checkbox id="sound_effects"></mu-checkbox>
    <mu-checkbox id="sound_narration"></mu-checkbox>


<h3 data-i18n="_graphic_engine_"></h3>

    <div data-i18n="_assetdetail_"></div>

    <mu-checkbox id="clicktowalk"></mu-checkbox>
    <mu-checkbox id="mouse"></mu-checkbox>

<h3 data-i18n="_controls_"></h3>

    <mu-checkbox id="clickenabled"></mu-checkbox>
    <mu-checkbox id="requireconfirmation"></mu-checkbox>

</form>
