<h2  id="virtualworld-page" data-i18n="_virtualworld_"></h2>

<p data-i18n="_virtualworld_msg_"></p>

<canvas id="c" width='1000px' height='380px' style='border: 1px solid black' />
</canvas>

<div id="narration" role="alert" aria-live="polite" class="online" data-i18n="_say_loading_">

</div>


<div id="menu1" class="menu">
    <div id="alert" role="alert" aria-live="assertive" class="online">
    </div>
    <button type="button" id="enter" >Enter Menu</button>

    <menu id="root" title="root">
        <!--option 1-->
        <menu id="menudescribir" title="menudescribir">
            <entry id="describir_mundo">_mundo_</entry>
            <entry id="describir_zona">_zona_</entry>
            <entry id="describir_objetos">_objetos_</entry>
            <entry id="describir_personas">_personas_</entry>
        </menu>

        <menu id="menucaminar" title="menucaminar">
            <entry id="caminar_norte">north</entry>
            <entry id="caminar_sur">south</entry>
            <entry id="caminar_oriente">east</entry>
            <entry id="caminar_occidente">west</entry>
        </menu>

        <menu id="menuobjeto" title="Objeto">
            <entry id="describir_objeto">Describir</entry>
            <entry id="tomar_objeto">Tomar</entry>
            <entry id="activar_objeto">Activar</entry>
        </menu>

    </menu>
</div>
        <div style="clear:both;"></div>
