<h2  id="virtualworld-page" data-i18n="_virtualworld_"></h2>

<p data-i18n="_virtualworld_msg_"></p>

<canvas id="c" width='480px' height='320px' style='border: 1px solid black' />
</canvas>

<div id="menu1" class="menu">
    <div id="alert" role="alert" aria-live="assertive" class="online">
    </div>
    <button type="button" id="enter" >Enter Menu</button>

    <menu id="root" title="root">
        <!--option 1-->
        <menu id="menudescribir" title="Describir">
            <entry id="describir_mundo">Mundo</entry>
            <entry id="describir_zona">Zona</entry>
            <entry id="describir_objetos">Objetos</entry>
            <entry id="describir_personas">Personas</entry>
        </menu>

        <menu id="menucaminar" title="Caminar">
            <entry id="caminar_norte">Al Norte</entry>
            <entry id="caminar_sur">Al Sur</entry>
            <entry id="caminar_oriente">Al Oriente</entry>
            <entry id="caminar_occidente">Al occidente</entry>
        </menu>

        <menu id="menuobjeto" title="Objeto">
            <entry id="describir_objeto">Describir</entry>
            <entry id="tomar_objeto">Tomar</entry>
            <entry id="activar_objeto">Activar</entry>
        </menu>

    </menu>
</div>
        <div style="clear:both;"></div>