.menu{
}

.menubarcontainer{
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    display: block;
    cursor:default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.menubarcontainer .menubar{
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    margin: 2px;
    /*background-color: gold;*/
    float: left;
    width: 200px;
}

.menubarcontainer .menubar .entry{
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    /*background-color: greenyellow;*/
}

.menubarcontainer .menubar .entry.selected{
    border: 3px;
    border-color: red;
    border-style: solid;
}

.menubarcontainer .menubar .menuentry{
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    /*background-color: #b8abd8;*/
}

.menubarcontainer .menubar .menuentry.selected{
    border: 3px;
    border-color: yellow;
    border-style: solid;
}