<!-- Skip link should be the first thing on the page -->
<p>
    <a href="#content" data-i18n="_skipToMainContent_"></a>
</p>

<!-- On the home page, put the site title in an H1. Other pages it can be a paragraph.
         Notice the use of the id associating the text with the landmark role. This is done throughout this example page.
         Screen readers seem to be ignoring the labelledby, unfortunately, but those that support aria do tend to read
         the first heading when navigated to via landmark. -->
<h1 id="banner-desc" data-i18n="_bannerTitle_"></h1>