<p>
Welcome to MUVIA, an inclusive and accesible virtual world for children! but, what exactly does it means?</p>

<ul>
<li>
<strong>Virtual World:</strong> 
A digital environment to which the users connects through internet, in order to interact between them and with the objects and characters that exist there. 
</li>

<li>
<strong>Accesible:</strong> 
MUVIA had been designed with the goal of being usable by people with different kinds of dissabilities: visual, motor and cognitive, between others. And also by people without any disability! 
The challengue is allowing all the users to interact in the same conditions.
</li>

<li>
<strong>Inclusive:</strong> 
It is not enough to have an accesible solution if it has some cost for the users, and if the community (researchers, students, people with disabilites) are not allowed to study, modify and adapt the solution to whathever way they think will serve best their needs. MUVIA is Open Source Software, and it means that it guarantees the freedom to use, modify, study and distribute the source code of the project. Do you would like to help the project? 
</li>
</ul>